<div class="container" data-ng-controller="HeaderController">
	 
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
 
		<ul class="nav navbar-nav  " data-ng-hide="authentication.user">
			<li  ng-class="{active: $uiRoute}">
				<a ui-sref="quote.get">Get Quote</a>
			</li>
			<li  ng-class="{active: $uiRoute}">
				<a ui-sref="quote.people">People</a>
			</li>
			<li  ng-class="{active: $uiRoute}">
				<a ui-sref="quote.legal">Legal</a>
			</li>
			<li  ng-class="{active: $uiRoute}">
				<a ui-sref="quote.confirm">Confirm</a>
			</li>
			<li  ng-class="{active: $uiRoute}">
				<a ui-sref="quote.buy">Buy</a>
			</li>
		</ul>
		 
	</nav>
</div>